.footer {
  background-color: #d35722;
  padding: 60px 80px;
  color: #ffffff;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 108px;
  position: relative;
  z-index: 1;
}

.footer-logo {
  width: 105px;
  height: 39px;
}

.footer-content-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-content-links__title {
  font-family: “Inter”;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}

.footer__list-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_link {
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.footer__link-img {
  width: 16px;
  height: 16px;
}

.footer-copyright {
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-circle {
  width: 340px;
  height: 340px;
  background-color: #e96e3a;
  border-radius: 50%;
  position: absolute;
  top: -120px;
  left: -84px;
}

.footer_link:hover {
  color: #ffd6c5;
}
